[submodule "mlops-backend"]
	path = mlops-backend
	url = git@github.com:grokkerzz/mlops-backend.git
[submodule "mlops-operation"]
	path = mlops-operation
	url = git@github.com:grokkerzz/mlops-operation.git
[submodule "mlops-algorithm"]
	path = mlops-algorithm
	url = git@github.com:grokkerzz/mlops-algorithm.git
[submodule "mlops-frontend"]
	path = mlops-frontend
	url = git@github.com:grokkerzz/mlops-frontend.git
